body {margin: 0px; padding: 0px; }
.cont { margin-top: 20px; }
.total { font-size: 30px; margin: 20px; }
.alimtitle { font-size: 25px; margin-bottom: 10px; }
.aliment { background: #eee; padding: 15px; border-radius: 5px; overflow: hidden; margin-top: 10px; }